body {
    background-color: #eaf6f6;
    /* background-c olor: #019267; */
}

h1, h3 {
    color: #66bfbf;
    /* color: #00C897; */
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}